<!-- <div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div> -->

<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="col-md-9">
    <app-car-filter></app-car-filter>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="filterText"
        placeholder="Aradığınız arabayı giriniz..."
      />
      <div *ngFor="let carDto of carsDto | filterPipe: filterText" class="col">
        <div class="card" style="width: 18rem">
          <img
            *ngIf="carDto.imagePath == ''"
            src="https://localhost:44381/uploads/rentacar.jpg"
            style="width: 18rem; height: 13rem"
            class="card-img-top"
            alt="..."
          />
          <img
            *ngIf="carDto.imagePath"
            src="https://localhost:44381/uploads/{{ carDto.imagePath }}"
            style="width: 18rem; height: 13rem"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ carDto.carName }}</h5>
            <p class="card-text">
              Açıklama:
              {{ carDto.description }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Marka: {{ carDto.brandName }}</li>
            <li class="list-group-item">Renk: {{ carDto.colorName }}</li>
            <li class="list-group-item">Yıl: {{ carDto.modelYear }}</li>
          </ul>
          <div class="card-body">
            <a routerLink="/cars/car-detail/{{ carDto.id }}" class="card-link"
              >Detaylar</a
            >
            <a routerLink="/cars/rentacar/{{ carDto.id }}" class="card-link"
              >Kirala</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
